<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<!--ISO-8859-1-->
<title>Weather Api</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
	integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
	crossorigin="anonymous">
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="./js/Controller.js"></script>
<script src="http://chancejs.com/chance.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
	integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
	integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
	crossorigin="anonymous"></script>
</head>
<body ng-app="restApi_Assesment">
	<h1 align="center">Weather report</h1>
	<div ng-controller="restConsumption">
		<div class="container">
			<div class="jumbotron">
				<h3>
					Weather App<small>version 1.0</small>
				</h3>
				<form id="issueForm">
					<div class="form-group">
						<label for="cityName">Enter the City Name</label> <input
							type="text" class="form-control" ng-model="cityName"
							id="cityName" placeholder="Example:Dallas, Kansas, Boston"
							required>
					</div>
					<div class="form-group">
						<label for="NumDays">Enter Number of Days</label> <input
							type="text" ng-model="noDays" class="form-control"
							placeholder="Example: You can fetch upto 10 days of report"
							id="NumDays">
					</div>
					<div class="form-group">
						<button ng-click="logId()" class="btn btn-primary">Get
							Weather details</button>
					</div>
				</form>
			</div>
			<table class="table table-hover table-sm">
				<thead>
					<tr >
						<th>Day</th>
						<th>Average Temperature f</th>
						<th>Max Wind Mph</th>
						<th>Total Precipitation Mm</th>
						<th>Average Humidity</th>
						<th>UV Index</th>
						<th>Condition</th>
						<th>Image</th>
					</tr>
				</thead>
				<tbody >
					<tr ng-repeat="day in greeting.forecast.forecastday"
						ng-class="$index % 2 == 0 ? 'even' : 'odd'">
						<td>{{day.date}}</td>
						<td>{{day.day.avgtemp_f}}</td>
						<td>{{day.day.maxwind_mph}}</td>
						<td>{{day.day.totalprecip_mm}}</td>
						<td>{{day.day.avghumidity}}</td>
						<td>{{day.day.uv}}</td>
						<td>{{day.day.condition.text}}</td>
						<td><img ng-src="{{day.day.condition.icon}}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>
